* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #212121;
}

.hero-img {
	z-index: 2;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	filter: brightness(0.7);
}

.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: absolute;
	z-index: 2;
	top: 3%;
	left: 0;
	width: 100%;
	padding: 0 5%;
	box-sizing: border-box;
}

.hero-text {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #ffffff;
}

.hero-cat {
	grid-column: 3;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 24px;
	color: #ffffff;
}

.hero-h1 {
	font-size: 68px;
	color: #ffffff;
	font-family: 'Imbue', serif;
}

.hero-p {
	font-family: 'Nanum Gothic Coding', monospace;
	color: #32C181;
	font-size: 24px;
	margin-bottom: 0.5em;
	font-weight: 600;
}
.cat-p {
	font-family: 'Nanum Gothic Coding', monospace;
	transition: all 0.3s;
	cursor: pointer;
}
.cat-p:hover {
	transform: scale(1.05);
}

.hero-hr {
	width: 60vw;
}
.search-logo {
	cursor: pointer;
	transition: all 0.5s;
	
}
.search-logo:hover {
	transform: scale(1.1);
}



/* Product-cards */
.wrapper {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
}
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 2em 1em;
	font-family: 'Nanum Gothic Coding', monospace;
	
}


.product-image {
	width: 18em;
	object-fit: cover;
	background-color: #ffffff;
	padding: 1.5em;
}

.product-text {
	background-color: #32C181;
	width: 100%;
	height: 6em;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-hr {
    color: #ffffff;
    margin: 0 1em;
	width: 25vw;
}
.product-header-h2 {
	margin: 1em 1em;
	font-size: 36px;
	color: #ffffff;
	font-family: 'Imbue', serif;
}

.search-div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	width: 25em;
	height: 1.75em;
	background-color: #212121;
	border: 2px solid #ffffff;
	border-radius: 2px;
	padding: 5px;
	color: #ffffff;
}


.remove-btn {
	padding: 8px 16px;
	border: none;
}


/* Category tags */
.category-container {
	position: relative;
}


.category-ul {
	position: absolute;
	color:#ffffff;
	background-color: #212121;
	border: 1px solid #ffffff;
}

.category-tags {
	margin: 1em 0.5em;
}

.category-tags:hover {
	background-color: #414040;
}

.category-button:hover,
.category-tags:hover {
	cursor: pointer;
}
